@import url("https://fonts.googleapis.com/css2?family=Russo+One%3Aital%2Cwght%400%2C400&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-xJzCRkZQLASQ_font-family: "Russo One", sans-serif;
  --mixin-xJzCRkZQLASQ_font-size: 16px;
  --mixin-xJzCRkZQLASQ_font-weight: 400;
  --mixin-xJzCRkZQLASQ_font-style: normal;
  --mixin-xJzCRkZQLASQ_color: #535353;
  --mixin-xJzCRkZQLASQ_text-align: left;
  --mixin-xJzCRkZQLASQ_text-transform: none;
  --mixin-xJzCRkZQLASQ_line-height: 1.5;
  --mixin-xJzCRkZQLASQ_letter-spacing: normal;
  --mixin-xJzCRkZQLASQ_white-space: pre-wrap;
  --mixin-xJzCRkZQLASQ_user-select: text;
  --mixin-xJzCRkZQLASQ_text-decoration-line: none;
  --mixin-xJzCRkZQLASQ_text-overflow: clip;
  --mixin-RwJsxtub3Cg1_color: #000000;
  --mixin-RwJsxtub3Cg1_font-weight: 700;
  --mixin-RwJsxtub3Cg1_font-size: 64px;
  --mixin-RwJsxtub3Cg1_line-height: 1;
  --mixin-RwJsxtub3Cg1_letter-spacing: -1px;
  --mixin-RwJsxtub3Cg1_white-space: pre-wrap;
  --mixin-Y_ypf1oO7gjJ_color: #000000;
  --mixin-Y_ypf1oO7gjJ_font-size: 48px;
  --mixin-Y_ypf1oO7gjJ_font-weight: 700;
  --mixin-Y_ypf1oO7gjJ_letter-spacing: -0.5px;
  --mixin-Y_ypf1oO7gjJ_line-height: 1.1;
  --mixin-Y_ypf1oO7gjJ_white-space: pre-wrap;
  --mixin-Zcx08nCAZ3Lf_color: #0070f3;
  --mixin-Zcx08nCAZ3Lf_white-space: pre-wrap;
  --mixin-p9mDGfWZcMLl_color: #000000;
  --mixin-p9mDGfWZcMLl_font-size: 32px;
  --mixin-p9mDGfWZcMLl_font-weight: 600;
  --mixin-p9mDGfWZcMLl_line-height: 1.2;
  --mixin-p9mDGfWZcMLl_white-space: pre-wrap;
  --mixin-ACfWDxZ_jfla_color: #000000;
  --mixin-ACfWDxZ_jfla_font-size: 24px;
  --mixin-ACfWDxZ_jfla_font-weight: 600;
  --mixin-ACfWDxZ_jfla_line-height: 1.3;
  --mixin-ACfWDxZ_jfla_white-space: pre-wrap;
  --mixin-qrI9Cy7g-JHN_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-qrI9Cy7g-JHN_border-bottom-color: #dddddd;
  --mixin-qrI9Cy7g-JHN_border-bottom-style: solid;
  --mixin-qrI9Cy7g-JHN_border-bottom-width: 1px;
  --mixin-qrI9Cy7g-JHN_border-left-color: #dddddd;
  --mixin-qrI9Cy7g-JHN_border-left-style: solid;
  --mixin-qrI9Cy7g-JHN_border-left-width: 1px;
  --mixin-qrI9Cy7g-JHN_border-right-color: #dddddd;
  --mixin-qrI9Cy7g-JHN_border-right-style: solid;
  --mixin-qrI9Cy7g-JHN_border-right-width: 1px;
  --mixin-qrI9Cy7g-JHN_border-top-color: #dddddd;
  --mixin-qrI9Cy7g-JHN_border-top-style: solid;
  --mixin-qrI9Cy7g-JHN_border-top-width: 1px;
  --mixin-qrI9Cy7g-JHN_border-bottom-left-radius: 3px;
  --mixin-qrI9Cy7g-JHN_border-bottom-right-radius: 3px;
  --mixin-qrI9Cy7g-JHN_border-top-left-radius: 3px;
  --mixin-qrI9Cy7g-JHN_border-top-right-radius: 3px;
  --mixin-qrI9Cy7g-JHN_font-family: "Inconsolata";
  --mixin-qrI9Cy7g-JHN_padding-bottom: 1px;
  --mixin-qrI9Cy7g-JHN_padding-left: 4px;
  --mixin-qrI9Cy7g-JHN_padding-right: 4px;
  --mixin-qrI9Cy7g-JHN_padding-top: 1px;
  --mixin-qrI9Cy7g-JHN_white-space: pre-wrap;
  --mixin-ZbJawQ2rqYU9_border-left-color: #dddddd;
  --mixin-ZbJawQ2rqYU9_border-left-style: solid;
  --mixin-ZbJawQ2rqYU9_border-left-width: 3px;
  --mixin-ZbJawQ2rqYU9_color: #888888;
  --mixin-ZbJawQ2rqYU9_padding-left: 10px;
  --mixin-ZbJawQ2rqYU9_white-space: pre-wrap;
  --mixin-WiU4U6duBVbN_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-WiU4U6duBVbN_border-bottom-color: #dddddd;
  --mixin-WiU4U6duBVbN_border-bottom-style: solid;
  --mixin-WiU4U6duBVbN_border-bottom-width: 1px;
  --mixin-WiU4U6duBVbN_border-left-color: #dddddd;
  --mixin-WiU4U6duBVbN_border-left-style: solid;
  --mixin-WiU4U6duBVbN_border-left-width: 1px;
  --mixin-WiU4U6duBVbN_border-right-color: #dddddd;
  --mixin-WiU4U6duBVbN_border-right-style: solid;
  --mixin-WiU4U6duBVbN_border-right-width: 1px;
  --mixin-WiU4U6duBVbN_border-top-color: #dddddd;
  --mixin-WiU4U6duBVbN_border-top-style: solid;
  --mixin-WiU4U6duBVbN_border-top-width: 1px;
  --mixin-WiU4U6duBVbN_border-bottom-left-radius: 3px;
  --mixin-WiU4U6duBVbN_border-bottom-right-radius: 3px;
  --mixin-WiU4U6duBVbN_border-top-left-radius: 3px;
  --mixin-WiU4U6duBVbN_border-top-right-radius: 3px;
  --mixin-WiU4U6duBVbN_font-family: "Inconsolata";
  --mixin-WiU4U6duBVbN_padding-bottom: 3px;
  --mixin-WiU4U6duBVbN_padding-left: 6px;
  --mixin-WiU4U6duBVbN_padding-right: 6px;
  --mixin-WiU4U6duBVbN_padding-top: 3px;
  --mixin-WiU4U6duBVbN_white-space: pre-wrap;
  --mixin-21_uA7AiwyQ2_display: flex;
  --mixin-21_uA7AiwyQ2_flex-direction: column;
  --mixin-21_uA7AiwyQ2_align-items: stretch;
  --mixin-21_uA7AiwyQ2_justify-content: flex-start;
  --mixin-21_uA7AiwyQ2_list-style-position: outside;
  --mixin-21_uA7AiwyQ2_padding-left: 40px;
  --mixin-21_uA7AiwyQ2_position: relative;
  --mixin-21_uA7AiwyQ2_list-style-type: disc;
  --mixin-21_uA7AiwyQ2_white-space: pre-wrap;
  --mixin-6SqF9Z11AXXm_display: flex;
  --mixin-6SqF9Z11AXXm_flex-direction: column;
  --mixin-6SqF9Z11AXXm_align-items: stretch;
  --mixin-6SqF9Z11AXXm_justify-content: flex-start;
  --mixin-6SqF9Z11AXXm_list-style-position: outside;
  --mixin-6SqF9Z11AXXm_padding-left: 40px;
  --mixin-6SqF9Z11AXXm_position: relative;
  --mixin-6SqF9Z11AXXm_list-style-type: decimal;
  --mixin-6SqF9Z11AXXm_white-space: pre-wrap;
  --mixin-0aDAWlASxfQp_color: #000000;
  --mixin-0aDAWlASxfQp_font-size: 20px;
  --mixin-0aDAWlASxfQp_font-weight: 600;
  --mixin-0aDAWlASxfQp_line-height: 1.5;
  --mixin-0aDAWlASxfQp_white-space: pre-wrap;
  --mixin-b0iVK0MG2TsJ_color: #000000;
  --mixin-b0iVK0MG2TsJ_font-size: 16px;
  --mixin-b0iVK0MG2TsJ_font-weight: 600;
  --mixin-b0iVK0MG2TsJ_line-height: 1.5;
  --mixin-b0iVK0MG2TsJ_white-space: pre-wrap;
  --mixin-YE9oyQXqKqD-_color: #3291ff;
  --mixin-YE9oyQXqKqD-_white-space: pre-wrap;
  --mixin-zBi6L69PvO_M_white-space: pre-wrap;
  --mixin-TaLrzf5TvEXE_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-xJzCRkZQLASQ_font-family);
  font-size: var(--mixin-xJzCRkZQLASQ_font-size);
  font-weight: var(--mixin-xJzCRkZQLASQ_font-weight);
  font-style: var(--mixin-xJzCRkZQLASQ_font-style);
  color: var(--mixin-xJzCRkZQLASQ_color);
  text-align: var(--mixin-xJzCRkZQLASQ_text-align);
  text-transform: var(--mixin-xJzCRkZQLASQ_text-transform);
  line-height: var(--mixin-xJzCRkZQLASQ_line-height);
  letter-spacing: var(--mixin-xJzCRkZQLASQ_letter-spacing);
  white-space: var(--mixin-xJzCRkZQLASQ_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-RwJsxtub3Cg1_color);
  font-weight: var(--mixin-RwJsxtub3Cg1_font-weight);
  font-size: var(--mixin-RwJsxtub3Cg1_font-size);
  line-height: var(--mixin-RwJsxtub3Cg1_line-height);
  letter-spacing: var(--mixin-RwJsxtub3Cg1_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-Y_ypf1oO7gjJ_color);
  font-size: var(--mixin-Y_ypf1oO7gjJ_font-size);
  font-weight: var(--mixin-Y_ypf1oO7gjJ_font-weight);
  letter-spacing: var(--mixin-Y_ypf1oO7gjJ_letter-spacing);
  line-height: var(--mixin-Y_ypf1oO7gjJ_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-Zcx08nCAZ3Lf_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-p9mDGfWZcMLl_color);
  font-size: var(--mixin-p9mDGfWZcMLl_font-size);
  font-weight: var(--mixin-p9mDGfWZcMLl_font-weight);
  line-height: var(--mixin-p9mDGfWZcMLl_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-ACfWDxZ_jfla_color);
  font-size: var(--mixin-ACfWDxZ_jfla_font-size);
  font-weight: var(--mixin-ACfWDxZ_jfla_font-weight);
  line-height: var(--mixin-ACfWDxZ_jfla_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-qrI9Cy7g-JHN_font-family);
  border-radius: var(--mixin-qrI9Cy7g-JHN_border-top-left-radius)
    var(--mixin-qrI9Cy7g-JHN_border-top-right-radius)
    var(--mixin-qrI9Cy7g-JHN_border-bottom-right-radius)
    var(--mixin-qrI9Cy7g-JHN_border-bottom-left-radius);
  padding: var(--mixin-qrI9Cy7g-JHN_padding-top)
    var(--mixin-qrI9Cy7g-JHN_padding-right)
    var(--mixin-qrI9Cy7g-JHN_padding-bottom)
    var(--mixin-qrI9Cy7g-JHN_padding-left);
  border-top: var(--mixin-qrI9Cy7g-JHN_border-top-width)
    var(--mixin-qrI9Cy7g-JHN_border-top-style)
    var(--mixin-qrI9Cy7g-JHN_border-top-color);
  border-right: var(--mixin-qrI9Cy7g-JHN_border-right-width)
    var(--mixin-qrI9Cy7g-JHN_border-right-style)
    var(--mixin-qrI9Cy7g-JHN_border-right-color);
  border-bottom: var(--mixin-qrI9Cy7g-JHN_border-bottom-width)
    var(--mixin-qrI9Cy7g-JHN_border-bottom-style)
    var(--mixin-qrI9Cy7g-JHN_border-bottom-color);
  border-left: var(--mixin-qrI9Cy7g-JHN_border-left-width)
    var(--mixin-qrI9Cy7g-JHN_border-left-style)
    var(--mixin-qrI9Cy7g-JHN_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-ZbJawQ2rqYU9_color);
  padding-left: var(--mixin-ZbJawQ2rqYU9_padding-left);
  border-left: var(--mixin-ZbJawQ2rqYU9_border-left-width)
    var(--mixin-ZbJawQ2rqYU9_border-left-style)
    var(--mixin-ZbJawQ2rqYU9_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-WiU4U6duBVbN_font-family);
  border-radius: var(--mixin-WiU4U6duBVbN_border-top-left-radius)
    var(--mixin-WiU4U6duBVbN_border-top-right-radius)
    var(--mixin-WiU4U6duBVbN_border-bottom-right-radius)
    var(--mixin-WiU4U6duBVbN_border-bottom-left-radius);
  padding: var(--mixin-WiU4U6duBVbN_padding-top)
    var(--mixin-WiU4U6duBVbN_padding-right)
    var(--mixin-WiU4U6duBVbN_padding-bottom)
    var(--mixin-WiU4U6duBVbN_padding-left);
  border-top: var(--mixin-WiU4U6duBVbN_border-top-width)
    var(--mixin-WiU4U6duBVbN_border-top-style)
    var(--mixin-WiU4U6duBVbN_border-top-color);
  border-right: var(--mixin-WiU4U6duBVbN_border-right-width)
    var(--mixin-WiU4U6duBVbN_border-right-style)
    var(--mixin-WiU4U6duBVbN_border-right-color);
  border-bottom: var(--mixin-WiU4U6duBVbN_border-bottom-width)
    var(--mixin-WiU4U6duBVbN_border-bottom-style)
    var(--mixin-WiU4U6duBVbN_border-bottom-color);
  border-left: var(--mixin-WiU4U6duBVbN_border-left-width)
    var(--mixin-WiU4U6duBVbN_border-left-style)
    var(--mixin-WiU4U6duBVbN_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-21_uA7AiwyQ2_display);
  flex-direction: var(--mixin-21_uA7AiwyQ2_flex-direction);
  align-items: var(--mixin-21_uA7AiwyQ2_align-items);
  justify-content: var(--mixin-21_uA7AiwyQ2_justify-content);
  list-style-position: var(--mixin-21_uA7AiwyQ2_list-style-position);
  padding-left: var(--mixin-21_uA7AiwyQ2_padding-left);
  position: var(--mixin-21_uA7AiwyQ2_position);
  list-style-type: var(--mixin-21_uA7AiwyQ2_list-style-type);
  flex-column-gap: var(--mixin-21_uA7AiwyQ2_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-6SqF9Z11AXXm_display);
  flex-direction: var(--mixin-6SqF9Z11AXXm_flex-direction);
  align-items: var(--mixin-6SqF9Z11AXXm_align-items);
  justify-content: var(--mixin-6SqF9Z11AXXm_justify-content);
  list-style-position: var(--mixin-6SqF9Z11AXXm_list-style-position);
  padding-left: var(--mixin-6SqF9Z11AXXm_padding-left);
  position: var(--mixin-6SqF9Z11AXXm_position);
  list-style-type: var(--mixin-6SqF9Z11AXXm_list-style-type);
  flex-column-gap: var(--mixin-6SqF9Z11AXXm_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-0aDAWlASxfQp_color);
  font-size: var(--mixin-0aDAWlASxfQp_font-size);
  font-weight: var(--mixin-0aDAWlASxfQp_font-weight);
  line-height: var(--mixin-0aDAWlASxfQp_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-b0iVK0MG2TsJ_color);
  font-size: var(--mixin-b0iVK0MG2TsJ_font-size);
  font-weight: var(--mixin-b0iVK0MG2TsJ_font-weight);
  line-height: var(--mixin-b0iVK0MG2TsJ_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-YE9oyQXqKqD-_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
